# üß© Reto 3 ‚Äì Ox√≠geno disuelto
**Objetivo:** evaluar riesgo ecol√≥gico seg√∫n ox√≠geno disuelto.

**Datos:** `../data/muestras_calidad_agua.csv`

In [197]:
import pandas as pd  

df = pd.read_csv("../data/muestras_calidad_agua.csv")
df
#si quiere los primeros 4 datos df.head()

                           sitio   pH  oxigeno  temperatura
0                 R√≠o Subachoque  7.2      7.8         18.5
1    Quebrada Honda (Facatativ√°)  6.3      6.2         19.4
2           R√≠o Botello (Madrid)  6.8      5.9         22.7
3   Afluente San Jos√© (El Rosal)  7.9      8.3         20.1
4                    R√≠o Villeta  8.7      6.1         28.3
5  Quebrada Cune (San Francisco)  6.0      4.5         25.2
6            R√≠o Tobia (Nocaima)  7.4      5.2         26.9
7       Quebrada Negra (La Vega)  7.6      7.0         24.4
8          R√≠o Baham√≥n (Sasaima)  8.1      6.7         27.6
9        R√≠o Guayuriba (La Mesa)  5.9      4.8         30.5

In [198]:
import pandas as pd 
import numpy as np 
df = pd.read_csv("../data/muestras_calidad_agua.csv")
df

                           sitio   pH  oxigeno  temperatura
0                 R√≠o Subachoque  7.2      7.8         18.5
1    Quebrada Honda (Facatativ√°)  6.3      6.2         19.4
2           R√≠o Botello (Madrid)  6.8      5.9         22.7
3   Afluente San Jos√© (El Rosal)  7.9      8.3         20.1
4                    R√≠o Villeta  8.7      6.1         28.3
5  Quebrada Cune (San Francisco)  6.0      4.5         25.2
6            R√≠o Tobia (Nocaima)  7.4      5.2         26.9
7       Quebrada Negra (La Vega)  7.6      7.0         24.4
8          R√≠o Baham√≥n (Sasaima)  8.1      6.7         27.6
9        R√≠o Guayuriba (La Mesa)  5.9      4.8         30.5

In [199]:
df_oxigeno = df[['sitio','oxigeno']]
df_oxigeno

                           sitio  oxigeno
0                 R√≠o Subachoque      7.8
1    Quebrada Honda (Facatativ√°)      6.2
2           R√≠o Botello (Madrid)      5.9
3   Afluente San Jos√© (El Rosal)      8.3
4                    R√≠o Villeta      6.1
5  Quebrada Cune (San Francisco)      4.5
6            R√≠o Tobia (Nocaima)      5.2
7       Quebrada Negra (La Vega)      7.0
8          R√≠o Baham√≥n (Sasaima)      6.7
9        R√≠o Guayuriba (La Mesa)      4.8

In [200]:
import pandas as pd 
import numpy as np
data = {
    'sitio': ['rio_subachoque', 'quebrada_honda', 'rio_botello', 'afluente_san_jose','rio_villeta','quebrada_cune','rio_tobia','quebrada_negra','rio_bahamon','rio_guayuriba'],
    'oxigeno': [7.8, 6.2, 5.9, 8.3,6.1,4.5,5.2,7.0,6.7,4.8]}
df_oxigeno = pd.DataFrame(data)
def clasificar_oxigeno(valor):
    if valor < 4:
        return "Se encuentra con baja disponibilidad de ox√≠geno disuelto"
    elif valor <= 6:
        return "El agua tiene un nivel medio de ox√≠geno disuelto"
    else:
        return "El agua tiene altos niveles de ox√≠geno disuelto"
df_oxigeno['clasificacion_oxigeno'] = df_oxigeno['oxigeno'].apply(clasificar_oxigeno)
df_oxigeno

,sitio,oxigeno,clasificacion_oxigeno
0,rio_subachoque,7.8,El agua tiene altos niveles de ox√≠geno disuelto
1,quebrada_honda,6.2,El agua tiene altos niveles de ox√≠geno disuelto
2,rio_botello,5.9,El agua tiene un nivel medio de ox√≠geno disuelto
3,afluente_san_jose,8.3,El agua tiene altos niveles de ox√≠geno disuelto
4,rio_villeta,6.1,El agua tiene altos niveles de ox√≠geno disuelto
5,quebrada_cune,4.5,El agua tiene un nivel medio de ox√≠geno disuelto
6,rio_tobia,5.2,El agua tiene un nivel medio de ox√≠geno disuelto
7,quebrada_negra,7.0,El agua tiene altos niveles de ox√≠geno disuelto
8,rio_bahamon,6.7,El agua tiene altos niveles de ox√≠geno disuelto
9,rio_guayuriba,4.8,El agua tiene un nivel medio de ox√≠geno disuelto

In [281]:
import pandas as pd
import numpy as np

data = {'sitio': ['rio_subachoque', 'quebrada_honda', 'rio_botello', 'afluente_san_jose','rio_villeta', 'quebrada_cune', 'rio_tobia', 'quebrada_negra','rio_bahamon', 'rio_guayuriba'],
    'oxigeno': [7.8, 6.2, 5.9, 8.3, 6.1, 4.5, 5.2, 7.0, 6.7, 4.8]}

df_oxigeno = pd.DataFrame(data)

def clasificar_oxigeno(valor):
    if valor < 5:
        return "bajo"
    elif valor <= 6:
        return "medio"
    else:
        return "alto"

df_oxigeno['nivel_oxigeno'] = df_oxigeno['oxigeno'].apply(clasificar_oxigeno)
df_oxigeno

# (alerta de riesgo si el ox√≠geno es menor a  5)
df_oxigeno['riesgo_biologico'] = df_oxigeno['oxigeno'].apply(lambda ox: 'alerta' if ox < 5 else 'sin alerta')
df_oxigeno

               sitio  oxigeno nivel_oxigeno riesgo_biologico
0     rio_subachoque      7.8          alto       sin alerta
1     quebrada_honda      6.2          alto       sin alerta
2        rio_botello      5.9         medio       sin alerta
3  afluente_san_jose      8.3          alto       sin alerta
4        rio_villeta      6.1          alto       sin alerta
5      quebrada_cune      4.5          bajo           alerta
6          rio_tobia      5.2         medio       sin alerta
7     quebrada_negra      7.0          alto       sin alerta
8        rio_bahamon      6.7          alto       sin alerta
9      rio_guayuriba      4.8          bajo           alerta

In [282]:
import pandas as pd

df = pd.read_csv('resultado_oxigeno.csv')

# sitios tienen riesgo (alerta)
sitios_con_riesgo = df[df['riesgo_biologico'] == 'alerta']

# Calcular el porcentaje
porcentaje_riesgo = (len(sitios_con_riesgo) / len(df)) * 100

print (f"Porcentaje de sitios con riesgo: {porcentaje_riesgo:.2f}%")

#  nombres de los sitios con riesgo
print("\nSitios con riesgo biol√≥gico:")
for sitio in sitios_con_riesgo['sitio']:
    print( sitio)

Porcentaje de sitios con riesgo: 20.00%

Sitios con riesgo biol√≥gico:
Quebrada Cune (San Francisco)
R√≠o Guayuriba (La Mesa)

### Pasos
1. Carga el CSV en `df`.
2. Extrae `sitio` y `oxigeno`.
3. Crea `nivel_oxigeno` (bajo/medio/alto).
4. Crea `riesgo_biologico` (‚ö† si ox√≠geno < 5).
5. Filtra y exporta `resultado_oxigeno.csv`.

> **Reto adicional:** porcentaje de sitios con riesgo.