# üß© Reto 1 ‚Äì Temperatura
**Objetivo:** clasificar la temperatura del agua y evaluar posible estr√©s t√©rmico.

**Datos:** `../data/muestras_calidad_agua.csv`

### Pasos
1. Carga el CSV en `df`.
2. Extrae `sitio` y `temperatura` en `df_temp`.
3. Crea `categoria_temp` con np.where o .loc.
4. Crea `riesgo_termico`.
5. Filtra a `df_caliente` (alta temperatura).
6. Exporta `resultado_temperatura.csv`.

> **Reto adicional:** porcentaje de sitios con riesgo t√©rmico.

In [14]:
import pandas as pd
import numpy as np
 
df = pd.read_csv("../data/muestras_calidad_agua.csv")
print("Datos cargados correctamente")

Datos cargados correctamente

In [15]:
df_temp = df[['sitio', 'temperatura']]
df=(df_temp)
df

                           sitio  temperatura
0                 R√≠o Subachoque         18.5
1    Quebrada Honda (Facatativ√°)         19.4
2           R√≠o Botello (Madrid)         22.7
3   Afluente San Jos√© (El Rosal)         20.1
4                    R√≠o Villeta         28.3
5  Quebrada Cune (San Francisco)         25.2
6            R√≠o Tobia (Nocaima)         26.9
7       Quebrada Negra (La Vega)         24.4
8          R√≠o Baham√≥n (Sasaima)         27.6
9        R√≠o Guayuriba (La Mesa)         30.5

In [16]:
import pandas as pd
import numpy as np

df_temp = df[['sitio', 'temperatura']]

# Crear la nueva columna
df_temp['categoria_temp'] = np.where(df_temp['temperatura'] > 25, 'Alta', 'Normal')

df=(df_temp)
df

                           sitio  temperatura categoria_temp
0                 R√≠o Subachoque         18.5         Normal
1    Quebrada Honda (Facatativ√°)         19.4         Normal
2           R√≠o Botello (Madrid)         22.7         Normal
3   Afluente San Jos√© (El Rosal)         20.1         Normal
4                    R√≠o Villeta         28.3           Alta
5  Quebrada Cune (San Francisco)         25.2           Alta
6            R√≠o Tobia (Nocaima)         26.9           Alta
7       Quebrada Negra (La Vega)         24.4         Normal
8          R√≠o Baham√≥n (Sasaima)         27.6           Alta
9        R√≠o Guayuriba (La Mesa)         30.5           Alta

In [17]:
import pandas as pd
import numpy as np
#  altas temperaturas
df_temp['riesgo_termico'] = np.where(df_temp['categoria_temp'] == 'Alta', 'Alto', 'Bajo')
#  sitios con temperatura alta
df_caliente = df_temp[df_temp['categoria_temp'] == 'Alta']
df_caliente

                           sitio  temperatura categoria_temp riesgo_termico
4                    R√≠o Villeta         28.3           Alta           Alto
5  Quebrada Cune (San Francisco)         25.2           Alta           Alto
6            R√≠o Tobia (Nocaima)         26.9           Alta           Alto
8          R√≠o Baham√≥n (Sasaima)         27.6           Alta           Alto
9        R√≠o Guayuriba (La Mesa)         30.5           Alta           Alto

In [18]:
import pandas as pd
import numpy as np

df_temp = pd.DataFrame ({'sitio': ['A', 'B', 'C', 'D','E','F', 'G', 'H', 'I','J'],
'temperatura': [18.5,19.4,22.7,20.1,28.3, 25.2, 26.9, 24.4, 27.6, 30.5]})

# Clasificaci√≥n por temperatura
df_temp['categoria_temp'] = np.where(df_temp['temperatura'] > 25, 'Alta', 'Normal')
df_temp['riesgo_termico'] = np.where(df_temp['categoria_temp'] == 'Alta', 'Alto', 'Bajo')

#  porcentaje de riesgo t√©rmico 
sitios_alto = (df_temp['riesgo_termico'] == 'Alto').sum()
total_sitios = len(df_temp)
porcentaje_riesgo = (sitios_alto / total_sitios) * 100

# Mostrar resultado
print("Porcentaje de sitios con riesgo t√©rmico alto:", porcentaje_riesgo, "%")

Porcentaje de sitios con riesgo t√©rmico alto: 50.0 %